.step-component {
    border: 5px solid #9699a3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 300px;
    min-width: 280px;
    margin: 20px auto;
    overflow: hidden;
}